html,
body,
#viewDiv {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

#controls {
  width: 500px;
}

#outer-container {
  padding: 15px;
  width: 500px;
}

#description {
  padding: 10px 10px 0px 10px;
  font-size: 14pt;
}

#titleDiv {
  padding: 10px;
}

#titleText {
  font-size: 20pt;
  font-weight: 60;
  padding-bottom: 10px;
}
